<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dongwon.scanner">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_icon"
        android:supportsRtl="true"
        android:testOnly="false"
        android:theme="@style/Theme.AppCompat.Light">
        <activity
            android:name=".activity.ship.WhOutputForkDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ship.WhOutputForkActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ship.WhInputActivity"
            android:exported="true"
            android:label="@string/title_activity_wh_input" />
        <activity
            android:name=".activity.ship.ShipMainMenu"
            android:exported="true"
            android:label="SHIP - Main menu" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="true"
            android:label="Dongwon CZ Scanner">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light" />
    </application>

</manifest>